package io.swagger.api;

import javax.ws.rs.Consumes;
import javax.ws.rs.DELETE;
import javax.ws.rs.GET;
import javax.ws.rs.POST;
import javax.ws.rs.Path;
import javax.ws.rs.PathParam;
import javax.ws.rs.Produces;
import javax.ws.rs.QueryParam;

import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import io.swagger.annotations.ApiResponse;
import io.swagger.annotations.ApiResponses;
import io.swagger.model.Ga4ghWesServiceInfo;
import io.swagger.model.Ga4ghWesWorkflowListResponse;
import io.swagger.model.Ga4ghWesWorkflowLog;
import io.swagger.model.Ga4ghWesWorkflowRequest;
import io.swagger.model.Ga4ghWesWorkflowRunId;
import io.swagger.model.Ga4ghWesWorkflowStatus;

//import org.apache.cxf.jaxrs.ext.multipart.*;

/**
 * This interface was automatically generated by Swagger, it's not required.
 *
 * workflow_execution.proto
 *
 * <p>No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 */
@Deprecated
@Path("/")
@Api(value = "/", description = "")
public interface WorkflowExecutionServiceApi  {

    /**
     * Cancel a running workflow
     *
     */
    @DELETE
    @Path("/ga4gh/wes/v1/workflows/{workflow_id}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    @ApiOperation(value = "Cancel a running workflow", tags={  })
    @ApiResponses(value = { @ApiResponse(code = 200, message = "", response = Ga4ghWesWorkflowRunId.class) })
    Ga4ghWesWorkflowRunId cancelJob(@PathParam("workflow_id") String workflowId);

    /**
     * Get information about Workflow Execution Service.  May include information related (but not limited to) the workflow descriptor formats, versions supported, the WES API versions supported, and information about general the service availability.
     *
     */
    @GET
    @Path("/ga4gh/wes/v1/service-info")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    @ApiOperation(value = "Get information about Workflow Execution Service.  May include information related (but not limited to) the workflow descriptor formats, versions supported, the WES API versions supported, and information about general the service availability.", tags={  })
    @ApiResponses(value = { @ApiResponse(code = 200, message = "", response = Ga4ghWesServiceInfo.class) })
    public Ga4ghWesServiceInfo getServiceInfo();

    /**
     * Get detailed info about a running workflow
     */
    @GET
    @Path("/ga4gh/wes/v1/workflows/{workflow_id}")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    @ApiOperation(value = "Get detailed info about a running workflow", tags={  })
    @ApiResponses(value = { @ApiResponse(code = 200, message = "", response = Ga4ghWesWorkflowLog.class) })
    public Ga4ghWesWorkflowLog getWorkflowLog(@PathParam("workflow_id") String workflowId);

    /**
     * Get quick status info about a running workflow
     *
     */
    @GET
    @Path("/ga4gh/wes/v1/workflows/{workflow_id}/status")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    @ApiOperation(value = "Get quick status info about a running workflow", tags={  })
    @ApiResponses(value = { @ApiResponse(code = 200, message = "", response = Ga4ghWesWorkflowStatus.class) })
    public Ga4ghWesWorkflowStatus getWorkflowStatus(@PathParam("workflow_id") String workflowId);

    /**
     * List the workflows, this endpoint will list the workflows in order of oldest to newest.  There is no guarantee of live updates as the user traverses the pages, the behavior should be decided (and documented) by each implementation.
     *
     */
    @GET
    @Path("/ga4gh/wes/v1/workflows")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    @ApiOperation(value = "List the workflows, this endpoint will list the workflows in order of oldest to newest.  There is no guarantee of live updates as the user traverses the pages, the behavior should be decided (and documented) by each implementation.", tags={  })
    @ApiResponses(value = { @ApiResponse(code = 200, message = "", response = Ga4ghWesWorkflowListResponse.class) })
    public Ga4ghWesWorkflowListResponse listWorkflows(@QueryParam("page_size")Long pageSize, @QueryParam("page_token")String pageToken, @QueryParam("key_value_search")String keyValueSearch);

    /**
     * Run a workflow, this endpoint will allow you to create a new workflow request and retrieve its tracking ID to monitor its progress.  An important assumption in this endpoint is that the workflow_params JSON will include parameterizations along with input and output files.  The latter two may be on S3, Google object storage, local filesystems, etc.  This specification makes no distinction.  However, it is assumed that the submitter is using URLs that this system both understands and can access. For Amazon S3, this could be accomplished by given the credentials associated with a WES service access to a particular bucket.  The details are important for a production system and user on-boarding but outside the scope of this spec.
     *
     */
    @POST
    @Path("/ga4gh/wes/v1/workflows")
    @Consumes({ "application/json" })
    @Produces({ "application/json" })
    @ApiOperation(value = "Run a workflow, this endpoint will allow you to create a new workflow request and retrieve its tracking ID to monitor its progress.  An important assumption in this endpoint is that the workflow_params JSON will include parameterizations along with input and output files.  The latter two may be on S3, Google object storage, local filesystems, etc.  This specification makes no distinction.  However, it is assumed that the submitter is using URLs that this system both understands and can access. For Amazon S3, this could be accomplished by given the credentials associated with a WES service access to a particular bucket.  The details are important for a production system and user on-boarding but outside the scope of this spec.", tags={  })
    @ApiResponses(value = { @ApiResponse(code = 200, message = "", response = Ga4ghWesWorkflowRunId.class) })
    public Ga4ghWesWorkflowRunId runWorkflow(Ga4ghWesWorkflowRequest body);
}

